.plot-container {
  width: 100%;
}

.js-plotly-plot {
  width: 100%;
  height: 100%;
}

.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.mt-1 {
  margin-top: 1rem;
}